# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Django stuff:
db.sqlite3

# Virtual environment
.env
.venv/
venv/

# PyCharm
.idea

# VS Code
.vscode/

